<!doctype html>
<html class="h-full">
<head>
    <script src="/bundle.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/output.css"/>
</head>
<body class="bg-fuchsia-100 w-full h-full flex items-center" onload="client.connect()">
<main class="w-full text-center h-full">
    <div id="remotes" class="flex h-3/4 flex-wrap gap-1"></div>
    <video id="local_video" autoplay muted class="w-1/12 ml-auto mr-auto"></video>
</main>
</body>
</html>