<!doctype html>
<html class="h-full">
<head>
    <script src="/bundle.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/output.css"/>
</head>
<body class="bg-fuchsia-100 w-full h-full flex items-center" onload="client.connect()">
<main class="w-full text-center h-full relative text-fuchsia-600">
    <div id="error" class="text-center hidden relative top-1/2"></div>
    <div id="waiting" class="text-center hidden relative top-1/2">Waiting for other people to join...</div>
    <div id="remotes" class="flex h-full flex-wrap gap-1 mt-1"></div>
    <div class="absolute w-1/6 bottom-0 right-0 pr-1 pb-1">
        <video id="local_video" autoplay muted class="ml-auto mr-auto w-full h-full"></video>
    </div>
</main>
</body>
</html>