<main class="w-full text-center" id="home" hidden>
    <h1 class="text-4xl mb-8">Start chatting</h1>
    <input type="text" id="room-name-input" class="px-3 py-1 border border-transparent rounded-md bg-white/25 text-lg w-1/4 text-center focus:outline-none" value="<%= roomName %>"/>
    <button id="go" class="px-5 py-1 border border-transparent rounded-md bg-white/25 ml-3 text-lg hover:bg-white/50">Go</button>
    <p class="mt-12">We provide simple 1:1 video chatting. No accounts, no time limit.</p>
</main>
