<main class="w-full text-center h-full relative text-white" id="room" hidden>
    <div id="error" class="text-center relative top-1/2" hidden></div>
    <div id="waiting" class="text-center relative top-1/2" hidden>Waiting for other people to join...</div>
    <div class="text-center absolute bottom-20 w-full">
        <div id="you-are-muted" hidden>Your microphone is off. <span id="turn-on-microphone" class="underline cursor-pointer hover:text-yellow-400">Turn on</span></div>
        <div id="your-video-is-off" hidden>Your camera is off. <span id="turn-on-camera" class="underline cursor-pointer hover:text-yellow-400">Turn on</span></div>
    </div>
    <div id="remotes" class="flex h-full flex-wrap gap-1 mt-1"></div>
    <div class="absolute w-1/6 bottom-0 right-0 pr-10 pb-10">
        <button id="mute-button" class="border border-transparent rounded-md bg-white/25 hover:bg-white/50 px-5 py-1 mr-3">Mic ✅</button><button id="video-button" class="px-5 py-1 border border-transparent rounded-md bg-white/25 hover:bg-white/50">Cam ✅</button>
        <video id="local_video" autoplay muted class="ml-auto mr-auto w-full h-full mt-5"></video>
    </div>
    <div class="absolute bottom-2 left-2 bg-white/25 hover:cursor-pointer pt-2 pb-2 pl-4 pr-4" id="room-copy">
        <span id="room-name-display"></span>&nbsp;🔗
    </div>
</main>
